@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


/* .p-content {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.heading {
  font-weight: bolder;
  font-size: 6rem;
}

.img {
  width: 300px;
} */
